/* entire window container */
  .windowCont {
    display: flex;
    justify-content: center;

    /* width: 100vw; */
    min-height: 100vh;
  }

/* 428px iPhone 13 Max container */
  .phoneSizeCont {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 428px;
  }

/* cinemagic title container */
  .titleCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    min-height: 50px;
  }

/* search bar container */
  .searchBarCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    min-height: 55px
  }

/* drop down menu container */
  .dropDownCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    /* width: 288px; */
    width: 75%;
    min-height: 43px
  }

/* TRENDING header container */
  .trendingHeadingCont {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 68px
  }

/* movie image gallery container */
  .carouselCont {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 212px;
  }

/* movie image gallery container 2 (the one placed at the bottom of the page; leaving some extra margin room for the nav bar) */
  .carouselCont2 {
    display: flex;
    justify-content: center;

    margin-bottom: 68px;

    width: 100%;
    min-height: 212px;
  }

/* sub headings conts */
  .subHeadingCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    min-height: 68px
  }

/* nav bar container */
  .navBarCont {
    display: flex;
    position: fixed;
    justify-content: center;
    
    width: 100vw;
    z-index: 2;
  }

/* responsive styling */
  @media screen and (max-width: 375px) {
    
    /* medium phone size */
      .phoneSizeCont {
        max-width: 375px;
      }

      .swiper-wrapper {
        padding-left: 1.25rem;
      }
  }