@use "@/styles/mixins.scss";
@use "@/styles/variables.scss";

@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

/* Swiper JS styling override =============================== */
.customSwiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: #C4C4C4;
      width: 9px;
      height: 9px;
    }
  
    .swiper-pagination-bullet-active {
      background-color: #5F5C5C;
    }
  }

  .swiper-slide {
    .carouselText {
      @include carouselText();
      width: 160px;
    }

    .carousel2text {
      @include carouselText();
      width: 123px;
    }
  }
}

ul.swiper-wrapper {
  padding: 0;
  list-style-type: none;
}

/* React Bootstrap styling override =============================== */
.dropdown.btn-group {
  background-color: ;

  .btn-sm {
    border: 1px solid #494949;
    border-radius: 20px;
    
    width: 85px;
    height: 30px;
  }

  .dropdown-menu {
    max-height: 33vh;
    overflow-y: scroll;
  }
}
