/* BASE PAGE LAYOUT ======================================= */

/* entire window container */
  .windowCont {
    display: flex;
    justify-content: center;

    /* width: 100vw; */
    min-height: 100vh;
  }

/* 428px iPhone 13 Max container */
  .phoneSizeCont {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 428px;
    max-width: 428px;
  }

/* cinemagic title container */
  .titleCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    min-height: 50px;
  }

/* nav bar container */
  .navBarCont {
    display: flex;
    position: fixed;
    justify-content: center;
    
    width: 100vw;
    z-index: 2;
  }

/* BASE PAGE LAYOUT END ===================================== */


/* SEARCH page =============================================== */

  .search-contentCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    max-width: 355px;
  }


/* RESPONSIVE STYLING ======================================== */
  @media screen and (max-width: 375px) {
    
    /* medium phone size */
      .phoneSizeCont {
        min-width: 375px;
        max-width: 375px;
      }

      .swiper-wrapper {
        padding-left: 1.25rem;
      }

      .detail-mainCont {
        max-width: 355px;
      }

      .detail-backBtnCont {
        padding-left: 10px;
      }

      .detail-title {
        margin-left: -20px;
      }

      .detail-moviePhoto {
        max-width: 255px;
      }

      .detail-descCont {
        max-width: 350px;
      }
  }