ul {
  list-style-type: none;
}


/* Swiper JS styling override =============================== */
.customSwiper .swiper-pagination-bullet {
  background: #C4C4C4;
  width: 9px;
  height: 9px;
}

.customSwiper .swiper-slide .carouselText {
  display: flex;
  justify-content: center;

  width: 160px;
  padding-top: 13px;

  color: white;
  font-size: 12pt;
}

.customSwiper2 .swiper-slide .carousel2text {
  display: flex;
  justify-content: center;
  
  width: 123px;
  padding-top: 13px;
  
  color: white;
  font-size: 12pt;
}

/* React Bootstrap styling override =============================== */
.dropdown.btn-group .btn-sm {
  border: 1px solid #494949;
  border-radius: 20px;
  
  width: 85px;
  height: 30px;
}
